.quizz__container {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  margin: auto;
}
.quizz_logo {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-bottom: 1rem;
}
.quizz_logo h3 {
  margin-top: 1rem;
}
.quizz_logo img {
  width: 100%;
}
.quizz_questions {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 1rem;
  border: 1px solid #9C050B;
  border-radius: 0.5rem;
  background-color: #A02331;
  margin-bottom: 1.5rem;
  height: 15rem;
  width: 100%;
}
.quizz_options {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 1rem;
  width: 100%;
}
.btn-option {
  background-color: transparent;
  border-radius: 0.5rem;
  border: 1px solid #9C050B;
  width: 100%;
  height: 4rem;
  display: inline-block;
  cursor: pointer;
  font-size: 1rem;
  padding: 0.5rem;
  text-decoration: none;
  text-shadow: 0px 1px 0px #9C050B;
}
.btn-option:hover {
  background-color: #EA1D2C;
}
.btn-option:active {
  position: relative;
  top: 1px;
}
.quizz_results {
  width: 100%;
  height: 20rem;
  background-color: #EA1D2C;
  border-radius: 1rem;
  padding: 2rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

