.quizz__container {
  width: 80%;
  margin: auto;
  margin-top: 1.5rem;
}
.quizz_logo {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-bottom: 1rem;
}
.quizz_logo h3 {
  margin-top: 1rem;
}
.quizz_questions {
  display: flex;
  align-items: center;
  justify-content: center;
  border: 1px solid #4224d9;
  border-radius: 0.5rem;
  background-color: #644ed2;
  width: 100%;
  margin-bottom: 1.5rem;
  height: 15rem;
}
.quizz_options {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  margin: auto;
}
.btn-option {
  background-color: transparent;
  border-radius: 0.5rem;
  border: 1px solid #18ab29;
  width: 50%;
  display: inline-block;
  cursor: pointer;
  font-size: 1rem;
  padding: 1rem 2rem;
  text-decoration: none;
  text-shadow: 0px 1px 0px #2f6627;
}
.btn-option:hover {
  background-color: #5cbf2a;
}
.btn-option:active {
  position: relative;
  top: 1px;
}
.quizz_results {
  width: 100%;
  height: 20rem;
  background-color: #1f0539;
  border-radius: 1rem;
  padding: 2rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

