<div class="quizz__container">
  <div class="quizz_logo">
    <img src="assets/imgs/logo.png" alt="">
    <h3>{{ title }}</h3>
  </div>
  <div class="quizz_questions" *ngIf=!finished>
    <h3>{{ questionSelected.question }}</h3>
  </div>
  <div class="quizz_options" *ngIf=!finished>
    <button class="btn-option" *ngFor="let option of questionSelected.options; let i = index" (click) = "playerChoice(option.alias)">{{ option.name}}</button>
  </div>
  <div class="quizz_results" *ngIf=finished>
    <h3>O seu resultado é:</h3>
    <p>{{ answerSelected }}</p>
  </div>
</div>
